<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="about">
        <strong>『スーパー フレッシュ』</strong>は、<br>
        いつでも新鮮でおいしい食品をご提供します。<br>
        さらなるサービス向上のために、お客様のご意見を募集しています。<br>
        地域に愛されるお店をこれからも目指していきます。
      </div>
      <div class="row">
        <div class="img"><%= image_tag('yasai.jpg') %></div>
        <div class="img"><%= image_tag('egg.jpg') %></div>
        <div class="img"><%= image_tag('regi.jpg') %></div>
      </div>
      <div class="explanation">
        <li class="write">1.新規会員登録かログインで投稿できます</li>
        <li class="write">2.「投稿する」をクリック</li>
        <li class="write">3.カテゴリーを選択</li>
        <li class="write">4.タイトルを記入</li>
        <li class="write">5.文章を記入</li>
        <li class="write">6.送信を押す</li>
        <li class="write">7.店長から返信が「投稿を見る」に表示されます。<br>（1週間ほどお時間をいただいてます。）</li>
      </div>
    </div>

    <div class="col-md-6">
    <h5 clas="text-center">＜見本＞</h5>
      <div class="post-card" style="height: 550px;">
          <h4 class="post-title">
          カット済み野菜を売ってほしい
          </h4>
            <div class="opinion" style="height: 200px;">
            <strong>お客様の投稿</strong>：<i class="fas fa-user"></i><br>
            スーパーフレッシュは野菜が新鮮でとても気に入っています。
            使いきりのカット済み野菜パックもおいてほしいです。
           鍋用や焼きそば用などバリエーションも豊富にあると嬉しいです。
          </div>
            <div class="response" style="height: 200px;">
              <strong>店長からの返答</strong>：<i class="fas fa-user-tie"></i><br>
            いつもご利用ありがとうございます。<br>当店自慢の野菜をお客様にもっと使いやすい形でご提供できるように検討してまいります。
          </div>
      </div>
  　</div>
  </div>
</div>