<div class="container">
    <div class="top-image">
      <%= image_tag('top.jpg') %>
    </div>
    <div class="text-center">
      <%= link_to "スタート", posts_path, class: "btn-square-so-pop" %>
    </div>
</div>
