  <div class="container">
    <h1 class="text-center">店名アプリへようこそ</h1>
    <h2 class="text-center">皆さんの声をお聞かせください</h2>
    <h4 class="text-center">
      こちらは「お客様の声」を集めるSNSサイトです。<br>
      ご意見お待ちしております。
    </h4>
    <div class="text-center">
    <%= link_to "スタート", posts_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>