<div class="top">
  <div class="container">
    <div class="mx-auto">
      <h1 class="text-center">フレッシュマーケットへようこそ</h1>
      <h2 class="text-center">皆さんの声をお聞かせください</h2>
      <h4 class="text-center">
        こちらは「お客様の声」を集めるSNSサイトです。<br>
        ご意見お待ちしております。
      </h4>
      <div class="text-center">
      <%= link_to "スタート", posts_path, class: "btn-square-so-pop" %>
      </div>
    </div>
  </div>
</div>