<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h2>イベント投稿編集</h2>
      <div class="form-body p-4">
        <%#= form_with model: @event_post, local: true do |f| %>
          <table class="event_post">
            <tr>
              <th>タイトル</th>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <th>説明文</th>
              <td><%= f.text_field :body %></td>
            </tr>
          </table>
          <%#= f.submit "変更を保存する", class:"btn btn-lg btn-block btn-info mt-5" %>,
        <%# end %>
      </div>
    </div>
  </div>
</div>
