<div class="text-center">
  <div class="form-event">
    <form>
      <h2 class="h3 mb-3 fw-normal">イベント投稿編集</h2>
      <div class="form-body p-4">
        <input type="title" class="form-control" id="floatingInput" placeholder="タイトルを入力してください">
        <label for="floatingInput"タイトル</label>
      </div>
        <%#= form_with model: @event_post, local: true do |f| %>
      <div class="form-floating">
        <input type="body" class="form-control" id="floatingPassword" placeholder="本文を入力してください">
        <label for="floatingPassword">本文</label>
      </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">イベント情報を保存する</button>

          <table class="event_post">
            <tr>
              <th>タイトル</th>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <th>説明文</th>
              <td><%= f.text_field :body %></td>
            </tr>
          </table>
        <%# end %>
    </form>
  </div>
</div>
