<div class="col-md-6 mx-auto mt-5">
  <h1>店名アプリへようこそ</h1>
  <h2>皆さんの声をお聞かせください</h2>
  <h4>
    こちらは「お客様の声」を集めるSNSサイトです。<br>
    ご意見お待ちしております。
  </h4>
  <%= link_to "スタート", admin_posts_path, class: "btn btn-secondary" %>
</div>