<% @events.each do |event| %>
  　<div class="event-card" style="height: 600px;">
    <div class="tape"></div>
      <div class="card-body">
        <h5 class="event-card-title text-center" style="height: 50px;"><%= event.title %></h5>
          <p class="event-card-text" style="height: 400px;"><%= event.body %></p>
          <h6 class="event-card-period text-center"><i class="fas fa-check-circle"></i><%= event.period %>まで</h6>
      </div>
    </div>
  <% end %>