<h3>お客様投稿一覧:返答済み</h3>
  <div class="album py-5 bg-light">
    <div class='container'>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-md-8">
          <% @response.each do |response| %>
          <div class="card" style="width: 280px;">
            <h3 class="card-header">
              <%= response.post.category %><%= response.post.title %>
            </h3>
            <div class="card-body">
              <p class="card-text">
                <%= response.post.body %>
              </p>
            </div>
            <div class="card-footer">
              <p class="card-text">
                <%= response %>
              </p>
            </div>
          </div>
          <% end %>
          </div>
  	      <div class="col-md-4">
            <h3 class="text-center">イベント情報</h3>
            <h5><%#= event_post.title %></h5>
            <h5><%#= event_post.body %></td>
            <%#= link_to "編集する", edit_admin_event_post_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
