<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th><%#= @post.category %></th>
          </tr>
          <tr>
            <th><%#= @post.title %></th>
          </tr>
        </thead>
        <tbody>
          <td><%#= @post.body %></td>
        </tbody>
      </table>
      <div class="form-group">
      <h2 class="text-center">投稿する</h2>
      <div class="form-body p-4">
        <%= form_with model:@response, url: admin_responses_path  do |f| %>
            <h4>返答を書く</h4>
            <%= f.text_field :response %>
          <div class="post-buttom text-center">
          <%= f.submit "返答を送る", class:"btn btn-info" %>
          </div>
        <% end %>
　　　</div>
      </div>
    </div>
  </div>
</div>

