<div class="content">
  <h2>声一覧</h2>
  <%# @posts.each do |post| %>
  <table class="table">
    <thead>
      <tr>
        <th>category  title</th>
      </tr>
    </thead>
    <tbody>
      <td>body</td>
    </tbody>
  </table>
  <%# end %>
</div>

<div class="sidebar">
  <h2>イベント情報</h2>
  <div class="title">a</div>
  <div class="body">a</div>
</div>