<div class="content">
  <%# @posts.each do |post| %>
  <table class="table">
    <thead>
      <tr>
        <th>category  title</th>
      </tr>
    </thead>
    <tbody>
      <td>body</td>
    </tbody>
    <tfoot>
      <td>foot</td>
    </tfoor>
  </table>
  <%# end %>
</div>