<% @response.each do |response| %>
  <div class="post-card" style="height: 550px;">
    <%# if response.favorited_by?(current_customer) %>

      <%#= link_to admin_response_favorites_path(response), method: :delete do %>
     <%#= response.favorites.count %>
      <%# end %>

    <%# else %>

      <%#= link_to admin_post_path(response), method: :post do %>
        <i class="far fa-heart"></i><%#= response.favorites.count %> ！
      <%# end %>

    <%# end %>
      <h2 class="post-title">
        <%= response.post.title %>
      </h2>
        <div class="opinion" style="height: 200px;">
        <strong>お客様の投稿</strong>：<i class="fas fa-user"></i><p class="category"><%= response.post.category %></p><br>
        　<%= response.post.body %>
        </div>
        <div class="response" style="height: 200px;">
      <div class="card-text">
          <strong>店長からの返答</strong>：<i class="fas fa-user-tie"></i><br>
          <%= response.response %>
        </div>
      </div>
  </div>
<% end %>
