<div class="container">
  <div class="text-center">
    <% if flash[:notice] %>
      <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h3>お客様の声一覧</h3>
        <%= render 'index', response: @response %>
    </div>
    <div class="col-md-4">
      <h3 class="ivent-title">イベント情報</h3>
        <%= render 'event', events: @events %>
    </div>
  </div>
</div>